.trees-navigation .menu {
  border-top: 1px solid #888;
  padding: 1em 0 0 3em;
}
.trees-navigation .page-links {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  text-align: center;
  padding: 0.5em;
}
.trees-navigation .page-previous {
  text-align: left;
  width: 42%;
  display: block;
  float: left; /* LTR */
}
.trees-navigation .page-up {
  margin: 0 5%;
  width: 4%;
  display: block;
  float: left; /* LTR */
}
.trees-navigation .page-next {
  text-align: right;
  width: 42%;
  display: block;
  float: right;
}
#trees-outline {
  min-width: 56em;
}
.trees-outline-form .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
#edit-trees-bid-wrapper .description {
  clear: both;
}
#trees-admin-edit select {
  margin-right: 24px;
}
#trees-admin-edit select.progress-disabled {
  margin-right: 0;
}
#trees-admin-edit tr.ahah-new-content {
  background-color: #ffd;
}
#trees-admin-edit .form-item {
  float: left;
}